@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--font-oswald), sans-serif;
}

.flip-card {
  position: relative;
  display: inline-flex;
  background-color: #08081b;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}

.lato {
  font-family: var(--font-lato), sans-serif;
}
.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}

.top,
.bottom {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}

.top,
.flip-card .top-flip {
  background: #08081b;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background: #08081b;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: 10.5px;
  align-items: center;
}

.segment {
  display: flex;
  gap: 0.1em;
}

.segment-title {
  font-size: 10px;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 1020px) {
  .top,
  .bottom {
    font-size: 60px;
  }
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
  z-index: 1;
}
